@import '~style/helpers';

$coverSize: 4em;

.track {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.track::before {
  content: '';
  display: flex;
	margin-left: 0.25em;
	width: 1.5em;
	height: 1.5em;

  background: url('/assets/spotify.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  opacity: 0.5;
}

.info {
  padding: 0.45em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15em;

  background: linear-gradient(to right, rgba($black, 0) 50%, rgba($black, 0.125));
  color: #404040;
  font-weight: 500;
  font-size: 0.85em;
  text-decoration: none;
}

.info span {
	display: inline-block;
  padding: 0.125em 0;
	max-width: 20em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  font-size: 0.85em;
}

.info span:first-child {
  font-weight: 700;
  font-size: 1em;
}

.cover {
	display: flex;
  overflow: hidden;
  min-height: $coverSize;
  min-width: $coverSize;

  background-color: black;
  background-size: cover;
}

.cover:hover {
  cursor: pointer;
}

.coverInner {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5em;
  color: $white;

  background-color: rgba(black, 0.5);
}

.coverInner svg {
  transform: none;
}
