@import '~style/helpers';

$coverSize: 3em;

.track {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.track::before {
  content: '';
  display: flex;
	margin: 0 0.25em;
	width: 1.5em;
	height: 1.5em;

  background: url('/assets/spotify.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;

  opacity: 0.5;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: #404040;
  font-weight: 500;
  font-size: ($coverSize / 4);
  text-decoration: none;
}

.info span {
	display: inline-block;
	max-width: 20em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  min-height: ($coverSize / 4);
}

.info span:first-child {
  font-weight: 700;
}

.cover {
	display: flex;
  margin-left: 1em;
  margin-right: 0.5em;
  overflow: hidden;
  min-height: $coverSize;
  min-width: $coverSize;

  background-color: black;
  background-size: cover;
}

.cover:hover {
  cursor: pointer;
}

.coverInner {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5em;
  color: $white;

  background-color: rgba(black, 0.5);
}
