@import '~style/helpers';

.artist {
  margin-top: 0.25em;
  padding: 1em 0;
  list-style: none;
}

.artist a {
  display: flex;
  align-items: center;
}

.artist img {
	display: block;
	max-height: 2.5em;
	max-width: 2.5em;

	background-color: #afafaf;
	border-radius: 50%;
}

.artist span {
  padding: 0 0.5em;

  color: darken(#444, 5%);
  font-weight: 500;
  font-size: 1.25em;
}
