@import '~style/helpers';

.artists {
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
}

.artist {
	display: flex;
	width: 50%;
	height: 150px;
	max-width: 150px;
  list-style: none;

	@media (min-width: $largerViewport) {
		width: 33.33%;
		max-width: 300px;
		height: 300px;
	}
}

.artist a {
	position: relative;
  display: flex;
  align-items: flex-end;
	flex: 1;
	margin-right: 1em;
	margin-bottom: 1em;

	background-color: #afafaf;
  background-size: cover;
}

.artist .title {
	padding: 0.25em 0.5em;
  margin-bottom: 1em;

	color: $black;
  font-weight: 600;
  font-size: 1em;

	background: rgba($white, 0.85);

	@media (min-width: $largerViewport) {
		font-size: 1.5em;
	}
}
