@import '~style/helpers';

.attendance,
.festival {
  position: absolute;
  right: 0.75em; top: 1.45em;
  width: 7em;
  padding: 0.25em 0.5em;

  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
  font-size: 0.65em;

  background: #00f75d;
}

.attendance {
  z-index: 1;
}

.festival {
  z-index: 0;
  background: #f782f3;
}

.date {
  display: block;
  margin-bottom: 1em;

  color: #633743;
  font-weight: 600;
  font-size: 0.95em;
}

.place {
  margin: 0.5em 0 1em;

  color: #4c4c4c;
  font-weight: 400;
  font-size: 1.25em;
}

.artist > a {
  display: flex;
  margin-top: 2.5em;
  align-items: center;
}

.artist > a > img {
	display: block;
	max-height: 3em;
	max-width: 3em;
  margin-right: 1em;

	background-color: #afafaf;
	border-radius: 50%;
}

.artist > a > span {
  color: #464646;
  font-weight: 500;
  font-size: 1.25em;
}

.artist > a > .headliner {
  color: #323337;
  font-weight: 900;
}
