@import '~style/helpers';

section {
	margin: 0 -0.75em;
	padding: 0 0.75em;
	border-top: 3px solid #f5f5f5;
}

.date {
  display: block;
  margin-bottom: 1em;

  color: #633743;
  font-weight: 600;
  font-size: 0.95em;
}

.place {
  margin: 0.5em 0 1em;

  color: #4c4c4c;
  font-weight: 400;
  font-size: 1.25em;
}

.artist > a {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
}

.artist > a > img {
	overflow: hidden;
	display: block;
	max-height: 2em;
	max-width: 2em;
  margin-right: 0.5em;

	text-align: -9999px;

	background-color: #afafaf;
}

.artist > a > span {
  color: #464646;
  font-weight: 600;
  font-size: 1.25em;
}

.artist > a > .headliner {
  color: #323337;
  font-weight: 900;
}

.buttonSongkick,
.buttonDice,
.buttonGoogle,
.buttonCitymapper {
  font-weight: 600;
  background-repeat: no-repeat;
}

.buttonSongkick {
  background-color: darken($songkickPink, 30%);
  background-image: url('/assets/songkick--small.svg');
  background-position: 95% center;
  background-size: auto 50%;
}

.buttonDice {
  background-color: $diceBlack;
  background-image: url('/assets/dice.svg');
  background-position: 97% center;
  background-size: auto 80%;
}

.buttonGoogle {
  color: #222;
  background-color: $googleGrey;
  background-image: url('/assets/google-maps.svg');
  background-position: 95.5% center;
  background-size: auto 70%;
}

.buttonCitymapper {
  padding-right: 2.5em;

	background-color: $citymapperGreen;
  background-image: url('/assets/citymapper.svg');
  background-position: 95% center;
  background-size: auto 70%;
}
