@import '~style/helpers';

section {
	margin: 0 -0.75em;
	padding: 0 0.75em;
	border-top: 3px solid #f5f5f5;
}

.date {
  display: block;
  margin-bottom: 1em;

  color: #633743;
  font-weight: 600;
  font-size: 0.95em;
}

.place {
  margin: 0.5em 0 1em;

  color: #4c4c4c;
  font-weight: 400;
  font-size: 1.25em;
}

.artist > a {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
}

.artist > a > img {
	display: block;
	max-height: 2em;
	max-width: 2em;
  margin-right: 0.5em;

	background-color: #afafaf;
}

.artist > a > span {
  color: #464646;
  font-weight: 600;
  font-size: 1.25em;
}

.artist > a > .headliner {
  color: #323337;
  font-weight: 900;
}
