@import '~style/helpers';

@keyframes moveIn {
  from {
    transform: translateY(100%);
  }
}

@keyframes moveOut {
  to {
    transform: translateY(100%);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.alert {
  z-index: 100;
  position: fixed;
  bottom: 0; right: 0; left: 0;
  background: $blue;
  color: rgba(0, 0, 0, 0.65);
  padding: 0.75em 1em;
  font-size: 0.75em;
  font-weight: 600;
  animation: moveIn 0.33s forwards ease-in-out;
	transition: transform 1s;

	@media (min-width: $largerViewport) {
		right: auto;
		width: 20%;
		font-size: 0.85em;
	}
}

.alert .icon {
	display: inline-block;
	margin-right: 0.5em;
	animation: spin 0.66s infinite linear;
}

.alert small {
  display: block;
  margin-top: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.alertSynced {
	background: $green;
  animation: moveOut 0.33s 0.5s forwards ease-in-out;
}

.alertError {
	background: $orange;
  animation: moveOut 0.33s 5s forwards ease-in-out;
}

.alertSynced .icon,
.alertError .icon {
  animation: none;
}
