@import '~style/helpers';

.loading,
.home {
	padding: 1em 0.5em;
	min-height: 100%;
	width: 100%;
}

.home h1 {
  font-size: 3em;
}

.gigs {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.gig {
  position: relative;
  list-style: none;

  margin-bottom: 1em;
	width: 100%;

  background: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1),
              0 0 2px 0 rgba(0,0,0,.1);
}

.gig a {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.gigImage {
  width: 20%;
  min-height: 5.75em;
  background-image: url(https://assets.sk-static.com/assets/default_images/huge_avatar/default-event-798b09a.png);
  background-size: cover;
  background-position: center;
}

.gigDetails {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0.75em;
}

.gigDetails > * {
  display: block;
  margin-bottom: 0.25em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gigDate {
  color: #633743;
  font-size: 0.8em;
  font-weight: 600;
}

.gigName {
  margin-top: 0.25em;
  font-weight: 600;
}

.gigName small {
  display: block;

  color: #505050;
  font-size: 0.75em;
}

.gigPlace {
  margin-top: 0.25em;

  font-size: 0.75em;
  color: #424242;
}
