@import '~style/helpers';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 1em 0.75em;

  font-weight: 400;
  font-size: 1em;
	color: white;

  background: linear-gradient(to right, rgba(248, 0, 70, 1), rgba(78, 29, 42, 1));

  opacity: 1;
  transition: opacity 1s;
}

.headerHasHeaderImage {
  opacity: 0.9;

  transition: opacity 0.5s;
}

.nav {
	background: #323337;
	color: #c9c9c9;
	white-space: nowrap;
	overflow-x: auto;
}

.navItem {
	display: inline-block;
  padding: .5em 1em;

  color: inherit;
  text-decoration: none;
}

.navItemActive,
.navItem:hover {
	border-bottom: 4px solid;
}


.navItem:hover {
  cursor: pointer;
}

.navItemActive {
  cursor: default;
}

.title {
	min-width: 125px;
	flex-shrink: 1;
  margin-top: 0.125em;

	color: transparent;
  font: inherit;

	background-image: url('/assets/songkick-logo.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;

	pointer-events: none;
}

.back {
  color: white;
  font-weight: 900;
}
