@import '~style/helpers';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 1em 0.75em;

  font-weight: 400;
  font-size: 1em;
	color: white;

  background: linear-gradient(to right, rgba(248, 0, 70, 1), rgba(78, 29, 42, 1));

  opacity: 1;
  transition: opacity 1s;
}

.headerHasHeaderImage {
  opacity: 0.9;

  transition: opacity 0.5s;
}

.navItem {
  padding: .25em 1em;

  color: inherit;
  font-size: 0.85em;
  text-decoration: none;

  border: 1px solid rgba(255, 255, 255, 0.75);
	border-right: none;
}

.navItem:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.navItem:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	border-right: 1px solid rgba(255, 255, 255, 0.75);
}

.navItemActive,
.navItem:hover {
  color: #3a3a3a;

  background: white;

  cursor: pointer;
}

.navItemActive {
  cursor: default;
}

.title {
	min-width: 125px;
	flex-shrink: 1;
  margin-top: 0.125em;

	color: transparent;
  font: inherit;

	background-image: url('/assets/songkick-logo.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;

	pointer-events: none;
}

.back {
  color: white;
  font-weight: 900;
}

@keyframes spinnerSpin {
  to { transform: rotate(360deg); }
}

.spinner {
  width: 0.5em;
  height: 0.5em;

  background: white;
  border-radius: 2px;

  transition: opacity 2s, border-radius 0.1s;
}

.spinnerSyncing {
  animation: spinnerSpin 1s infinite linear;
}

.spinnerSynced {
  animation: none;
  opacity: 0.5;
  border-radius: 50%;
}

.spinnerError {
  background: black;
}
