@import '~style/helpers';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 1em 0.75em;
  height: 66px;

  font-weight: 400;
  font-size: 1em;
	color: white;

  background: linear-gradient(to right, $songkickPink, darken($songkickPink, 30%));

  opacity: 1;
  transition: opacity 1s;

	@media (min-width: $largerViewport) {
		height: 10vh;
	}
}

.settings {
	color: inherit;;
	font-weight: 500;
}

.title {
  display: block;
	min-width: 120px;
	flex-shrink: 1;
  margin-top: 0.125em;

	color: transparent;
  font: inherit;
	font-size: 1.25em;

	background-image: url('/assets/songkick-logo--white.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;

	pointer-events: none;

	@media (min-width: $largerViewport) {
		height: 4vh;
	}
}

.back {
  padding: 0.25em 0;
  display: block;
  color: white;
  font-weight: 900;
}
