@import '~style/helpers';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 1em 0.75em;

  font-weight: 400;
  font-size: 1em;
	color: white;

  background: linear-gradient(to right, #f80046, #4e1d2a);
}

.link {
  padding: .25em 1em;

  color: inherit;
  font-size: 0.85em;
  text-decoration: none;

  border: 1px solid rgba(255, 255, 255, 0.75);
	border-right: none;
}

.link:first-child {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.link:last-child {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	border-right: 1px solid rgba(255, 255, 255, 0.75);
}

.link:hover {
  color: #3a3a3a;

  background: white;

  cursor: pointer;
}

.title {
	min-width: 80px;
	flex-shrink: 1;
  margin-top: 0.125em;

	color: transparent;
  font: inherit;

	background-image: url('/assets/songkick-logo.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;

	pointer-events: none;
}
