@import '~style/helpers';

.header {
  padding: 1em 0.5em;

  font-weight: 400;
  font-size: 1em;
	color: white;

	border-top: 5px solid #f80046;
  background-color: #3a3a3a;
}

.link {
  float: left;
  margin-right: 1em;
  margin-top: -.13em;
  padding: .25em 1em;

  color: inherit;
  font-size: 0.85em;
  text-decoration: none;

  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 2px;
}

.link:hover {
  color: #3a3a3a;

  background: white;

  cursor: pointer;
}

.title {
  margin-top: 0.125em;

  font: inherit;
}
