@import 'animation';
@import 'variables';

.page {
	padding: 1em 0.75em;
	min-height: 100%;
	width: 100%;

  .title {
	  margin-bottom: 0.125em;

	  font-size: 3em;
	  font-weight: 800;
	  line-height: 1em;
  }

  .title a {
    display: block;
    line-height: 1em;
    color: inherit;
  }

  .title a:nth-child(n + 2) {
    font-size: 0.7em;
  }

  .title a:not(.headline) {
    color: #464646;
  }

  .title a:hover {
    opacity: 0.9;
  }
}

.button {
 	-webkit-appearance: none;
	display: block;
	margin-bottom: 1em;
	padding: 0.45em 1em;

	font-size: 1.15em;
	color: white;

	background-color: #900029;
	border: none;
	border-radius: 20px;
}

.button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 1px white, 0 0 0 3px $songkickPink;
}

.button[disabled] {
  cursor: default;
  background: rgba(0, 0, 0, 0.27);
  color: $black;
}

.panel {
  position: relative;
	padding: 1em 0.75em;
	width: 100%;
  min-height: 200px;

  background: white;

  h4 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul,
  ol,
  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    list-style: none;
  }
}

.headerImage {
	position: relative;
	overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: -100px;
  width: 100%;

  @media (min-width: $mediumViewport) {
		height: 250px;
	}

  @media (min-width: $largerViewport) {
		height: 300px;
	}
}

.headerShare {
  position: absolute;
  right: 0; top: 0;
  padding: 0.25em 0.5em;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));

  font-size: 2em;
  color: white;

  background: none;

  border: 0;
}

.headerShare:hover {
  cursor: pointer;
  opacity: 0.85;
}

.headerImage img {
	overflow: hidden;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  background-color: #afafaf;
	text-indent: -9999px;

  @media (min-width: $mediumViewport) {
		transform: scale(1.25);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }

  @media (min-width: $largerViewport) {
		transform: scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
