@import 'animation';
@import 'variables';

.page {
	padding: 1em 0.75em;
	min-height: 100%;
	width: 100%;

  .title {
	  margin-bottom: 1rem;

	  font-size: 3em;
	  font-weight: 800;
	  line-height: 1em;
  }

  .title a {
    display: block;
    line-height: 1em;
    color: inherit;
  }

  .title a:nth-child(n + 2) {
    font-size: 0.7em;
  }

  .title a:not(.headline) {
    color: #464646;
  }

  .title a:hover {
    opacity: 0.9;
  }
}

.button {
 	-webkit-appearance: none;
	display: inline-block;
	margin-bottom: 1em;
	padding: 0.75em 1.5em;

	font-size: 1.15em;

	background: linear-gradient(to right, $songkickBlue, darken($songkickBlue, 5%)) $songkickBlue;
  color: $white;
	border-radius: 0;
  border: none;
}

.buttonPrimary {
	background: linear-gradient(to right, $songkickGreen, darken($songkickGreen, 5%)) $songkickGreen;
}

.button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.panel {
  position: relative;
	padding: 1em 0.75em;
	width: 100%;
  min-height: 200px;

  background: white;

  h4 {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul,
  ol,
  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    list-style: none;
  }
}

.headerImage {
	overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: -100px;
  width: 100%;

  @media (min-width: $mediumViewport) {
		height: 250px;
	}

  @media (min-width: $largerViewport) {
		height: 300px;
	}
}

.headerButtons {
  z-index: 1;
  position: absolute;
  right: 0; top: 0;
  display: flex;
  padding: 0.125em 0.5em;
}

.headerButtons > * {
  padding: 0.5em;

  font-size: 1.5em;
  color: white;

  background: none;

  border: 0;
  outline: none;
}

.headerButtons > *:hover,
.headerButtons > *:active {
  cursor: pointer;
  opacity: 0.95;
}

.headerImage img {
	overflow: hidden;
  z-index: -1;
  width: 100%;
  min-height: 100%;
  background-color: #afafaf;
	text-indent: -9999px;

  @media (min-width: $mediumViewport) {
		transform: scale(1.25);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }

  @media (min-width: $largerViewport) {
		transform: scale(1.5);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
