@import 'helpers';

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

[class*=gigs] a:focus,
[class*=button]:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 0 1px white, 0 0 0 3px rgba($black, 0.5);
}

*:not([class*=button]):not([class*=header] a):focus {
  outline: 2px solid $songkickPink;
  outline-offset: 1px;
}

html,
body,
#app {
	width: 100%;
}

body {
  font-size: 18px;
	font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #323337;
}

a {
	text-decoration: none;
}

@media (min-width: $largerViewport) {
	main {
		overflow-y: auto;
    width: 50%;
		float: left;
	}
}

.logged--out main {
	width: 100%;
}
