$white: #fff;
$grey: #c9c9c9;
$black: #323337;
$green: #1eff65;
$orange: #ff9c1e;
$blue: #1ebaff;
$pink: #f782f3;

$songkickGreen: #009816;
$songkickBlue: #066792;
$songkickPink: #f80046;

$mediumViewport: 400px;
$largerViewport: 800px;
