@import '~style/helpers';

.logo {
	display: block;
	width: 100%;
	height: 40vh;
	padding: 1em 0 0;

	color: transparent;
	font: inherit;

  background-image: url('/images/songkick--black.svg');
	background-repeat: no-repeat, repeat-x;
  background-size: auto 10vh, auto;
	background-position: center, top;

	pointer-events: none;
}

form {
	padding: 1.5em;

	@media (min-width: $largerViewport) {
		width: 30em;
		margin-left: auto;
		margin-right: auto;
	}
}

label {
	font-weight: 600;
	font-size: 1.5em;
}

input {
	width: 100%;
  padding: 0.5em;
	margin: 0.5em 0 0.25em;

  font-size: 1.25em;

  border: 2px solid rgba(0, 0, 0, 0.2);
}

.button {
  text-align: center;
  width: 100%;
}
