<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Songkick</title>

    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <% } %>

    <!-- Origin Trial Token, feature = Web Share, origin = https://songkick.pink, expires = 2017-03-27 -->
    <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-03-27" content="Ajr/zS4smRZJOuRLbf2PgKbWCYDYiVJqQn8X0+ni0xo6Y7byINV6O/ky+Yj/UcKkWWt59DO8Sh23Y2bQt5f6zwMAAABPeyJvcmlnaW4iOiJodHRwczovL3NvbmdraWNrLnBpbms6NDQzIiwiZmVhdHVyZSI6IldlYlNoYXJlIiwiZXhwaXJ5IjoxNDkwNjI5OTEwfQ==">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#f80046">

		<link rel="shortcut icon" type="image/x-icon" href="/assets/icon/favicon.ico">
    <link rel="icon" sizes="192x192" href="/assets/icon/192x192.png">
    <link rel="icon" sizes="128x128" href="/assets/icon/128x128.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/assets/icon/128x128.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/assets/icon/128x128.png">

    <link rel="manifest" href="/assets/manifest.json">
  </head>
  <body></body>
</html>
