<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Songkick</title>

    <% for (var chunk in htmlWebpackPlugin.files.css) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
    <% } %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#f80046">
    <meta name="Description" content="An unofficial progressive web app for Songkick">

		<link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="/icons/192x192.png">
    <link rel="icon" sizes="128x128" href="/icons/128x128.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/icons/128x128.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/icons/128x128.png">

    <link rel="manifest" href="/manifest.json">
  </head>
  <body style="background-color:#f2f2f2;"></body>
</html>
