@import '~style/helpers';

.nav {
	white-space: nowrap;
	overflow-x: auto;

	@media (min-width: $largerViewport) {
		overflow: initial;
		white-space: initial;
	}
}

.navItem {
	display: inline-block;
  padding: .5em 1em;

  color: inherit;
  text-decoration: none;

	border-bottom: 3px solid transparent;

  transition: border 50ms, color 150ms;

	@media (min-width: $largerViewport) {
		width: 100%;
		padding: 1em;

		border-bottom: 1px solid lighten($black, 10%);
		border-right: 3px solid transparent;
	}
}

.navItemActive,
.navItem:active,
.navItem:hover {
	border-color: $songkickPink;
	color: $white;

	@media (min-width: $largerViewport) {
		width: 100%;
		border-bottom-color: lighten($black, 10%);
	}
}

.navItem:hover {
  cursor: pointer;
}

.navItemActive {
  cursor: default;
}
